@import 'main'

.step
    display: flex
    flex-flow: column nowrap
    gap: 4rem

    &-list
        display: flex
        flex-direction: column
        align-items: center
        gap: 2rem
        cursor: pointer

        &__card
            display: flex
            flex-flow: row nowrap
            gap: 1rem
            cursor: pointer

    &-card
        display: flex
        width: 100%
        flex-flow: column nowrap
        align-items: center
        justify-content: center
        padding: 2rem 1rem
        text-align: center

        .step-image
            border-radius: 1rem
            max-width: 300px
            height: 250px
            object-fit: cover

        .step-title
            text-align: center
            padding: 1rem

@media screen and (max-width: 1140px)
    .step-list__card
        flex-wrap: wrap
    .step-list__wrapper
        flex-wrap: wrap

@media screen and (max-width: 768px)
    .step
        gap: 2rem
    .step-list__card
        flex-wrap: wrap
    .step-list__wrapper
        flex-wrap: wrap

@media screen and (max-width: 660px)
    .step-card
        padding: 1rem 0.5rem
    .step-image
        max-width: 100%
    .step-title
        padding: 0.5rem

